{% extends 'base.html' %}

{% block content %}
<a href="{% url 'addproduct' %}" class="btn btn-success btn-lg btn-block">Click To Add Product</a>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
            {% for p in products %}
          <tr>
            <th scope="row">{{p.id}}</th>
            <td><img src="{{ p.image.url }}" width = "70px" height = "100px"></td>
            <td> {{p.product_name}} </td>
            <td> {{ p.category}} </td>
            <td> {{p.description}} </td>
            <td>
              <a href="{% url 'editproduct' p.id %}" class="btn btn-primary">Edit</a>
            </td>
            <td><a href="{% url 'delproduct' p.id %}" class="btn btn-danger">Delete</a></td>

          </tr>
            {% endfor %}
        </tbody>
      </table>

{% endblock content %}
